00_Natural/project1.exe

02-Vector_Integer/presentacion.exe
02-Vector_Integer/backup/
02-Vector_Integer/lib/

02-Vector_Integer_2/T2VECAPP.exe

03_Vector_Char/Cadena.exe

05_Matriz/01_APP_MATRIZ/APP_MATRIZ.exe
05_Matriz/02_APP_MATRIZ/APP_MATRIZ.exe
05_Matriz/Darwin/project1.exe
05_Matriz/Examen_2021_1/examen2/Matriz.exe
05_Matriz/Examen_2021_1/examen22/Matriz.exe
05_Matriz/ExamenMatrizInteger/project1.exe

06-Archivos/06Lazarus1/Archivos.exe
06-Archivos/06Lazarus2/Archi.exe
06-Archivos/06Lazarus3/project1.exe
06-Archivos/06Lazarus4/project1.exe
06-Archivos/02-Formulario/e5.exe
06-Archivos/formulario_v02/e5.exe

07-Archivos-binarios/FormAlumno/AppTipo.exe
07-Archivos-binarios/FormAlumno/FormEmpleado.exe
